<div class="main-scroll-content">
  <section>
    <article>
      <div class="article-box table-wrap">
        <app-content-top></app-content-top>

        <search-box #searchBox
                    [searchInfo]="search.info"
                    (searchBtnHandler)="search.searchBtnHandler($event)"
                    (clearBtnHandler)="search.clearBtnHandler($event)">
        </search-box>

        <div class="h10"></div>

        <div>
          <app-ag-grid #dataGrid
                       [api]="grid.api" [isInitLoad]="grid.isInitLoad" [columnDefs]="grid.columnDefs"
                       [defaultColDef]="grid.defaultColDef" [rowClassRules]="grid.rowClassRules"
                       [multiRowSelection]="false" (rowDoubleClick)="grid.rowDoubleClick($event)"
                       [funcButtons]="grid.funcButtons">
          </app-ag-grid>
        </div>

        <app-excel-exporter #excelExporter
                            [fileName]="excel.fileName"
                            [sheetName]="excel.sheetName"
                            [headerNames]="excel.headerNames"
                            [columnNames]="excel.columnNames"
                            [columnWidths]="excel.columnWidths"
                            [buttonStyleClass]="excel.buttonStyleClass"
                            [list]="excel.list"
                            [hide]="excel.hide"></app-excel-exporter>
      </div>
    </article>
    <div class="h20"></div>
  </section>
</div>