<div class="main-scroll-content">
  <section>
    <article>
      <div class="article-box table-wrap">
        <app-content-top></app-content-top>

        <div class="mb20">
          <div class="title-bar">
            <span class="title-01 mr5">관리자 정보</span>
          </div>
          <div class="table-scroll2">
            <form role="form" #target="ngForm">
            <table class="tbl03">
              <colgroup>
                <col style="width: 10%;" />
                <col style="width: 40%;" />
                <col style="width: 10%;" />
                <col style="width: 40%;" />
              </colgroup>
              <tbody>
              <tr>
                <th class="required">관리자 이름<label class="small-text-03 ml5">*</label></th>
                <td>
                  <input type="text" name="name" class="input-text-box"
                         required="true" maxLength="30"
                         [(ngModel)]="account.name" />
                  <label class="small-text-03 ml5">* 2~30자리 영문,한글,숫자 가능</label>
                </td>
                <th class="required">소속 그룹<label class="small-text-03 ml5">*</label></th>
                <td>
                  <div class="select-box-type2 w50p">
                    <select name="roleSeq" [(ngModel)]="account.roleSeq"
                            required="true">
                      <option *ngFor="let option of selectLists.adminGroup" [label]="option.name" [value]="option.value"></option>
                    </select>
                  </div>
                </td>
              </tr>
              <tr>
                <th class="required">ID (E-mail)<label class="small-text-03 ml5">*</label></th>
                <td>
                  <span *ngIf="id">
                    {{account.id}}
                  </span>
                  <span *ngIf="!id">
                    <input type="text" name="id" class="input-btn"
                           required="true" minLength="12" maxLength="50" pattern="^[a-z|A-Z]([-_.]?[a-z|A-Z|0-9])*@[a-z|A-Z]+.[a-z|A-Z]{2,3}"
                           [(ngModel)]="account.id" />
                    <label class="small-text-03 ml5">* 12~30자리 이메일 가능</label>
                  </span>
                </td>
                <th class="required">휴대전화번호<label class="small-text-03 ml5">*</label></th>
                <td>
                  <input type="text" name="phoneNumber" class="input-text-box"
                         required="true" minlength="13" maxlength="13" pattern="010-[0-9]{4}-[0-9]{4}"
                         [ngModel]="account.phoneNumber | phoneNumber"
                         (ngModelChange)="account.phoneNumber=$event" />
                  <label class="small-text-03 ml5">* 010-0000-0000 형식으로 가능</label>
                </td>
              </tr>
              <tr>
                <th>비밀번호</th>
                <td>
                  <span *ngIf="id">
                    <button type="button" class="btn btn-type-03 sm-btn" (click)="resetPassword()">초기화</button>
                    <label class="small-text-03 ml5">* 초기화 비밀번호가 휴대전화로 발송됩니다.</label>
                  </span>
                  <span *ngIf="!id">
                    임시비밀번호 카카오톡 또는 문자로 발송
                  </span>
                </td>
                <th class="required">상태<label class="small-text-03 ml5">*</label></th>
                <td>
                  <div class="select-box-type2 w50p">
                    <select name="stateCode" [(ngModel)]="account.stateCode"
                            required="true">
                      <option *ngFor="let option of selectLists.adminStatus" [label]="option.name" [value]="option.value"></option>
                    </select>
                  </div>
                </td>
              </tr>
              <tr>
                <th>메모</th>
                <td colspan="3">
                  <textarea name="memo" class="textarea-type-01" rows="2"
                            maxlength="500"
                            [(ngModel)]="account.memo"></textarea>
                </td>
              </tr>
              <tr *ngIf="id">
                <th>등록일시</th>
                <td>
                  {{account.regDate}}
                </td>
                <th>최종 접속일시</th>
                <td>
                  {{account.loginDate}}
                </td>
              </tr>
              </tbody>
            </table>
            </form>
          </div>
        </div>

        <div class="t-center mt20">
          <button type="button" class="btn btn-type-04"
                  *ngIf="(possibleRegister(!id)) || (possibleModify(null != id))"
                  [disabled]="target.form.invalid || !account.roleSeq || !account.stateCode"
                  (click)="saveAccount()" >저장</button>
          <button type="button" class="btn btn-type-06" (click)="moveAccountList('N')">목록</button>
        </div>
      </div>
    </article>
  </section>
</div>
