<div class="main-scroll-content">
  <section>
    <article>
      <div class="article-box table-wrap">
        <form role="form" #target="ngForm">
          <div class="mb20">
            <div class="title-bar">
              <span class="title-01 mr5">내정보 변경</span>
            </div>
            <div class="table-scroll2">
              <table class="tbl03">
                <colgroup>
                  <col style="width: 35%;" />
                  <col style="width: 65%;" />
                </colgroup>
                <tbody>
                <tr>
                  <th>소속 그룹</th>
                  <td>{{account.roleName}}</td>
                </tr>
                <tr>
                  <th class="required">이름<label class="small-text-03 ml5">*</label></th>
                  <td>
                    <input type="text" name="name" class="input-text-box w-100"
                            required="true" minLength="1" maxLength="30" pattern="[가-힣|a-z|A-Z|0-9]{1,30}"
                            [(ngModel)]="account.name" />
                  </td>
                </tr>
                <tr>
                  <th class="required">휴대전화번호<label class="small-text-03 ml5">*</label></th>
                  <td>
                    <input type="text" name="phoneNumber" class="input-text-box w-100"
                           required="true" minlength="13" maxlength="13" pattern="010-[0-9]{4}-[0-9]{4}"
                           [ngModel]="account.phoneNumber | phoneNumber"
                           (ngModelChange)="account.phoneNumber=$event" />
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </form>

        <div class="t-center mt20">
          <button type="button" class="btn btn-type-04"
                  [disabled]="target.form.invalid"
                  (click)="saveAccount()">저장</button>
          <button type="button" class="btn btn-type-06"
                  (click)="close('N')">취소</button>
        </div>
      </div>
    </article>
  </section>
</div>
