<div class="main-scroll-content">
  <section>
    <article>
      <div class="article-box table-wrap">
        <app-content-top></app-content-top>

        <div class="h10"></div>

        <div>
          <app-ag-grid #dataGrid
                       [api]="grid.api" [isInitLoad]="grid.isInitLoad" [columnDefs]="grid.columnDefs"
                       [defaultColDef]="grid.defaultColDef" [rowClassRules]="grid.rowClassRules"
                       [multiRowSelection]="false" (rowDoubleClick)="grid.rowDoubleClick($event)"
                       [funcButtons]="grid.funcButtons">
          </app-ag-grid>
        </div>
      </div>
    </article>
    <div class="h20"></div>
  </section>
</div>